header {
background-color:orange;
font-family:impact;
color:white;
font-size:50px;
// border-radius:30px 30px;
}
header p {
color:blue;
font-family:impact;
font-size:25px
padding: none;
}
p {
padding:5px;
}

body {
margin: 50px 50px 50px 50px;
font-family:cambria;
background:black;
color:black;
}
p {
color:white;
font-size:14px;
}
ul li {
color:white;
font-size:14px;
}
h1{
padding:none;
}
h2 {
color:white;
font-family:arial;
font-size:15px;
}
a:link {
color:white;
}
a:hover {
color:gray;
}
a:visited {
color:orange;
}
a:active {
color:yellow;
}
footer {
height: 34px;
font-family:cambria;
font-size:24px;
color:blue;
background-color:black;
border-radius:30px 30px;
clear:both;

}

#UC-text1, #UC-text2{
	// border-radius:15px;
	border-style:solid;
	border-left-color:red;
	padding:10px;
	margin:10px;
	height:350px;
	width: 400px;
	border-left-width:3px;
	// background-color:green;	
}

#UC-media1, #UC-media2{
	border-radius:15px;;
	padding:10px;
	border:10px;
	margin:10px;
	height: 350px;
	width: 400px;
	background-color:black;	
}
#media-section {
	float:left;
}
#text-section {
	float:left;
}

p {
	padding-bottom:0;
}
#mediablock {
	padding-left:210px;
}


#linkback {
	padding-left:570px;
	
}
